*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    color: #3a3a3a;
    text-decoration: none;
}
:root {
    --tag_famille: rgb(255, 166, 0)
}
:root {
    --tag_travail: rgb(0, 153, 224);
}
:root {
    --tag_patrie: rgb(156, 9, 214);
}
body{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url(img/background02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    width: 100%;
    height: 15vh;
    backdrop-filter: blur(5px);
    background:linear-gradient(#7c7c7c28,#70707028);
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header span{
    width: 100%;
    display: flex;
    justify-content: center;
}
header h1{
    font-size: 300%;
    color: white;
    text-shadow: 1px 1px 5px  rgba(17, 9, 51, 0.801);

}
#logo_header{
    width: 20vw;
    margin: 3vh;
    position: absolute;
    top: 1%;
    left: 1%;

}
/* MAIN */
main{
    width: 100%;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
section{
    width: 70vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 8px;
}
#close_formulaire{
    color: #ffffff;
    border: 1px #ffffff solid;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    font-size: 1.4em;
    margin: 0;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
#close_formulaire i{
    color: #6e6e6e;
}

/* HEADER FORMULAIRE */

#head_formulaire{
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 1% 0% 3%;
    margin-bottom: 1vh;

}
#logo_formulaire{
    width: 7%;
    max-width: 7vh;
}
#c_navtag{
    display: flex;
    align-items: center;
}
#picto_nav{
    margin-right: 1vh;
    font-size: 1.5em;
}
#nav_default{
    text-decoration: none;
    list-style: none;
    width: 8vw ;
    height: 5vh;
    border-radius: 6px;
    text-align: center;
    font-size: 1.4em;
    padding-top: 0;
    padding-bottom: 3vh;
    border: solid rgb(199, 199, 199) 0.1pt;
}

#nav_default a{
    margin-bottom: 3vh;
}
#nav_tag ul{
    top: 4.75vh;
    margin: 0;
    list-style: none;
    width: 8vw ;
    height: 15vh;
    border-radius: 6px;
    position: absolute;
    overflow: hidden;
    height: 0px;
    transition: 1s;
    border-radius: 6px;

}

#nav_tag li{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 8vw ;
    height: 5vh;
    padding-top: 1vh;
}
#nav_tag a{
    display: block;
    text-decoration: none;
}

#nav_tag li:hover ul{
    height: 15vh;
    width: 8vw ;
    border-radius: 6px;
    border-top: 0px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0px 7px 15px 1px rgba(0, 0, 0, 0.322);
}
#tag_travail i{
    margin-right: 6px;
    color: var(--tag_travail);
}
#tag_famille i{
    margin-right: 6px;
    color: var(--tag_famille);
}
#tag_patrie i{
    margin-right: 6px;
    color: var(--tag_patrie);
}

#tag_travail:hover{
    background-color: rgb(172, 172, 172);
}
#tag_famille:hover{
    background-color: rgb(172, 172, 172);
}
#tag_patrie:hover{
    background-color: rgb(172, 172, 172);
}

/* TEXTFORME FORMULAIRE */
#form_1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.pos_form{
    display: flex;
    flex-direction : column;
    margin-top : 3vh;
}
.pos_form label{
    font-size: 1.5em;
    margin-bottom: 1vh;
}

#form_name input{
    width: 30vw;
    height: 5vh;
    align-self: left;
    border: solid rgb(199, 199, 199) 0.1pt;
    border-radius: 6px;
    font-size: 1.3em;
    font-weight: bold;
    padding: 2%;

}
#area_descriptif{
    width: 100%;
    height: 30vh;
    border: solid rgb(199, 199, 199) 0.1pt;
    border-radius: 6px;
    font-size: 1.3em;
    padding: 2%;
}

#name_date{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}
#pos_date{
    display: flex;
    flex-direction: row;
}
#form_date{
    width: 9vw;
    height: 5vh;
    border: solid rgb(199, 199, 199) 0.1pt;
    border-radius: 6px;
    font-size: 1.3em;
    padding: 2%;
}
#form_heure{
    width: 5vw;
    height: 5vh;
    border: solid rgb(199, 199, 199) 0.1pt;
    border-radius: 6px;
    font-size: 1.3em;
    padding: 2%;
}
#toggle{
    display: none;
}

#checkbox{
    margin-top: 3vh;
    display: inline-block;
    position: relative;
    height: 4.5vh;
    width: 7.5vh;
    background-color: rgb(155, 155, 155);
    border-radius: 100px;
    transition: all 0.7s;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.226),
    -1px -1px 5px 1px rgb(255, 255, 255);
    margin-bottom: 1vh;
}
#checkbox::after{
    content:"";
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: linear-gradient(#ffffff,#eaede4);
    top: 0.5vh;
    left: 0.5vh;
    border-radius: 100px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.226);
    transition: all 0.7s;
}
#toggle:checked + #checkbox::after{
    transform: translateX(3vh);
}
#toggle:checked + #checkbox {
    background: linear-gradient(#4299d9,#4754ba);
}
#notif{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#footer_formulaire{
    display: flex;
    justify-content: space-between;
}
#footer_formulaire a{
 width: 7vw;
 height: 5vh;
 text-align: center;
 margin-top: 5vh;
 padding-top: 1vh;
 box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.226);
 background: linear-gradient(#4299d9,#4754ba);
 border-radius: 8px;
 text-shadow: 1px 1px 2px rgba(0, 0, 0,0.7),
 -1px -1px 5px 1px rgb(255, 255, 255);
}
#footer_formulaire i{
    margin-right: 0.5vw;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0,0.7);
}
#add_buton{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

footer p{
    font-family: monospace;
    color: white;
}